.board-row::after {
	clear: both;
	content: "";
	display: table;
}

.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 66px;
	font-weight: bold;
	height: 88px;
	width: 88px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
